<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administrador</title>
</head>
<body>
    <header>
        <h1>Panel Principal</h1>
    </header>
    <nav>
        <button id="empleados-button">Empleados</button>
        <button>Paquetes</button>
        <button>Reportes</button>
        <button>Vehículos</button>
    </nav>
    <main>
        <section id="empleados-container" style:"display: block;">
            <h2>Empleados</h2>
            <p>Gestión y consulta de empleados.</p>
            </form>
        </section>
        <section id="paquetes-container" style="display: none;">
            <h2>Paquetes</h2>
            <p>Administración y seguimiento de paquetes.</p>
        </section>
        <section id="reportes-container" style="display: none;">
            <h2>Reportes</h2>
            <p>Visualización y generación de reportes.</p>
        </section>
        <section id="vehiculos-container" style="display: none;">
            <h2>Vehículos</h2>
            <p>Control y registro de vehículos.</p>
        </section>
    </main>
    <script src="/js/addEmpleados.js"></script>
    <script src="/js/adminIndex.js"></script>
</body>
</html>