<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/adminIndex.css">
    <link rel="shortcut icon" href="/icons/entrega.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Panel de Administrador</title>
</head>
<body>
    <nav >
        <div class="logo-title">
            <h1 style="word-spacing: -10px;">
                <span style="color: #ffffff; font-weight: lighter;">Next</span>
                <span style="color: #ffffff; font-size: 45px;">PACKAGE</span>
            </h1>
            <img src="/icons/entrega (3).png" width="70px">
        </div>
        <div class="list">
            <button id="empleados-button">Empleados</button>
            <button id="paquetes-button">Paquetes</button>
            <button id="reportes-button">Reportes</button>
            <button id="vehiculos-button">Vehículos</button>
        </div>
    </nav>
    <main>
        <section id="empleados-container" style="display: block;">
            <h1>Empleados</h1>
            <p>Gestión y consulta de empleados.</p><hr>
        </section>
        <section id="paquetes-container" style="display: none;">
            <h1>Paquetes</h1>
            <div id="data-container">
                <div id="paquetes">
                    <p>Administración y seguimiento de paquetes.</p>
                    <div id="paquetes-contenedor">
                        <h2>Paquetes en Almacén</h2>
                        <p>Actualmente: <span id="cantidad-paquetes">0</span></p>
                    </div>
                </div>
                <div id="grafico-container">
                    <canvas id="grafico-paquetes"></canvas>
                </div>
                <div id="estadisticas-container">
                    <div id="select-estadistica">
                        <label for="estadistica-select">Seleccione una estadística:</label>
                        <select id="estadistica-select">
                            <option value="entregados">Paquetes Entregados por Dia</option>
                            <option value="pendientes">Paquetes Entregados por Semana</option>
                            <option value="retrasados">Paquetes Entregados por Mes</option>
                        </select>
                    </div>
                    <div id="result-estadistica"></div>
                </div>
            </div>
            
        </section>
        <section id="reportes-container" style="display: none;">
            <h1>Reportes</h1>
            <div id="seleccion-reporte">
                <label for="tipo-reporte">Seleccione el tipo de reporte:</label>
                <select id="tipo-reporte">
                    <option value="viajes">Reporte General de Viajes</option>
                    <option value="empleados">Reporte de Viajes por Empleado</option>
                </select>
                <div id="seleccion-fecha">
                    <label for="fecha-inicio">Fecha de Inicio:</label>
                    <input type="date" id="fecha-inicio">
                    <label for="fecha-fin">Fecha de Fin:</label>
                    <input type="date" id="fecha-fin">
                </div>
                <div id="reporte-individual" style="display:none;">
                <label for="select-empleado">Empleado:</label>
                    <select id="select-empleado">
                    <option value="">Seleccione un empleado</option>
                    </select>
                </div>
                <button id="generar-reporte-btn">Generar Reporte</button>
            </div>
            
        </section>
        <section id="vehiculos-container" style="display: none;">
            <h1>Vehiculos</h1>
            <p>Control y registro de vehículos.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 NextPackage. Todos los derechos reservados, RIF J-3082850-7.</p>
    </footer>
    <script src="/js/addEmpleados.js"></script>
    <script src="/js/adminIndex.js"></script>
    <script type="module" src="/js/charts.js"></script>
</body>
</html>