<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/entrega.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Iniciar Sesión</title>
</head>
<body class="login-bg">
    <div class="login-container">
        <form id="loginForm">
            <div class="Form">
                <div class="logo-title">
                    <h1 style="word-spacing: -10px;">
                        <span style="color: #EF3962;">Next</span>
                        <span style="color: #0172B6; font-size: 45px;">PACKAGE</span>
                    </h1>
                    <img src="/icons/entrega (1).png" width="70px">
                </div><hr>
                <div class="fields">
                    <input type="text" name="nombre_usuario" placeholder="Usuario" required>
                    <input type="password" name="contraseña" autocomplete="new-password" placeholder="Contraseña">
                    <div class="mostrarPass">
                        <p>Mostrar Contraseña</p>
                        <input type="checkbox" id="mostrarContrasena">
                    </div>
                </div>
                <button type="submit">Entrar</button>
                <br>
                <div class="fgt-pass">
                    <p>¿Olvidaste tu contraseña?</p>
                    <a href="/recuperar">Recuperar</a>
                </div>
                <div class="register">
                <p>¿No tienes una cuenta?</p>
                <a href="/register">Registrate aquí</a>
                </div>
                
            </div>
            
        </form>
    </div>
    <footer>
        <p>&copy; 2025 NextPackage. Todos los derechos reservados, RIF J-3082850-7.</p>
    </footer>
    <script src="/js/login.js"></script>
</body>
</html>