<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Usuario</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@mapbox/polyline"></script>

</head>
<body>
    <header>
        <h1>Pathfinder</h1>
    </header>
    <section id="nav-bar">
        <nav id="nav-bar- options">
            <button id="generar-viajes-btn">Generar viajes</button>
            <button id="resumen-individual-btn">Resumen individual</button>
            <button id="solicitar-cambio-vehiculo-btn">Solicitar cambio de vehículo</button>
            <button id="actualizar-datos-btn">Actualizar datos</button>
        </nav>
    </section>
    <section>
        <div id="info-repartidor">
            <h2>Información del Repartidor</h2>
            <p><strong>Nombre:</strong></p>
            <p><strong>Cédula:</strong></p>
            <p><strong>Correo:</strong></p>
        </div>
        <div id="info-vehiculo">
            <h3>Vehículo Asignado</h3>
            <p><strong>Placa:</strong></p>
            <p><strong>Modelo:</strong></p>
            <p><strong>Tipo:</strong></p>
        </div>
    </section>

    <section>
        <div id="paquetes-contenedor">
            <h2>Paquetes en Almacén</h2>
            <p>Actualmente: <span id="cantidad-paquetes">0</span></p>
        </div>
    </section>

    

    <div id="paquetes-viaje" style="display:none"></div>
    <div id="lista-paquetes"></div>
    <script type="module" src="/js/userIndex.js"></script>
</body>
</html>