@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-image: url("/img/imagen1.png");
    backdrop-filter: blur(4px);
    background-position: center;
    background-size: cover;
}



nav .logo-title h1, img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 3%;
    height: 80px;
    background-color: #EF3962;
}


nav .logo-title {
    display: flex;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    float: left;
    align-items: center;
    height: 100%;
}


nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .list button {
    display: block;
    color: white;
    border: none;
    background-color: transparent;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}


nav .list button:hover {
    border-bottom: 4px solid;
    transition: all .1s ease-in-out;
    margin-bottom: 2px;
}



main {
    margin-top: 45px;
}

main h1 {
    color: #003d63;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.671),
    -1px 1px 0 rgba(255, 255, 255, 0.671),
    1px 1px 0 rgba(255, 255, 255, 0.671),
    1px -1px 0 rgba(255, 255, 255, 0.671);
    font-size: 40px;
}

main p {
    font-size: 24px;
    color: white;
    text-shadow: -1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black;
}

#empleados-container {
    display: flex;
    padding: 3rem 5rem;
    font-family: "Roboto", sans-serif;
}


#empleados-container h2, p {
    text-align: justify;
    text-shadow: -1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    1px -1px 0 white;
}


#empleados-container hr {
    border: none;
    background-color: #c02d4f;
    margin-top: 1rem;
    padding: 3px;
}


#empleados-container .card1{
    font-size: 20px;
    text-align: justify;
    padding: 0 1rem 0 1rem;

}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

}


.card {
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.507);
}


#empleados-container .btn-actualizar {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: 0.2rem .7rem;
    border: solid 4px #01558a;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}


#empleados-container .btn-borrar {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: 0.2rem .7rem;
    border: solid 4px #EF3962;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
}


#empleados-container .btn-actualizar:hover {
    border: solid 4px #01558a;
    transform: scale(1.06);
}


#empleados-container .btn-borrar:hover {
    border: solid 4px #EF3962;
    transform: scale(1.06);
}


#empleados-container .form-actualizar select {
    width: 300px;
    padding: 0.6rem 1rem;
    border: 1.5px solid #bfc3e6;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #f7f8fa;
    transition: border-color 0.2s, box-shadow 0.2s;
    outline: none;
    box-sizing: border-box;
}


#empleados-container .form-actualizar input {
    width: 300px;
    padding: 0.6rem 1rem;
    border: 1.5px solid #bfc3e6;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background: #f7f8fa;
    transition: border-color 0.2s, box-shadow 0.2s;
    outline: none;
    box-sizing: border-box;
}


#empleados-container .form-actualizar button {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}


#empleados-container .form-actualizar button:hover {
    border: none;
    transform: scale(1.06);
}


#agregar-empleado-button {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}


#agregar-empleado-button:hover {
    border: none;
    transform: scale(1.06);
}


#empleado-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 500px;
    gap: 5px;
    background-color: white;
    padding: 25px;
    border-radius: 7px;
}


#h2-form {
    margin: 10px;
    font-size: 24px;
}


#empleado-form label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}


#empleado-form input, select {
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: 1px solid #d1d5db;
    outline: none;
    transition: border 0.2s;
}


#empleado-form input:focus,
#empleado-form select:focus {
    background-color: lab(63.92% 27.69 -55.87 / 0.349);
    border: solid 1px blue;
    transition: all .2ms;
}


#empleado-form button {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid .5px #0172B6;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}


#empleado-form button:hover {
    border: none;
    transform: scale(1.06);
}


#volverbtn {
    background-color: rgba(255, 255, 255, 0.24);
    color: black;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid 4px #01558a;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    width: 501px;
}


#volverbtn:hover {
    transform: scale(1.06);
}


#paquetes-container {
    display: flex;
    padding: 3rem 3rem;
    font-family: "Roboto", sans-serif;
}

#paquetes-container h1 {
    color: #003d63;
    font-size: 40px;
}


#reportes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
}


/*
#reportes-container h1 {
    color: #003d63;
    font-size: 40px;
    margin-bottom: 4rem;
}
*/


#reportes-container #seleccion-reporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;   
    padding: 30px;  
    gap: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
    border-radius: 8px;
    background-color: white;
}


#reportes-container #seleccion-reporte label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .5rem;
}


#reportes-container #seleccion-reporte #seleccion-fecha {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


#reportes-container #seleccion-reporte #seleccion-fecha .dinicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#reportes-container #seleccion-reporte #seleccion-fecha .dfin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#reportes-container #seleccion-reporte input,
#reportes-container #seleccion-reporte select {
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: 1px solid #d1d5db;
    outline: none;
    transition: border 0.2s;
}


#reportes-container #seleccion-reporte input:focus,
#reportes-container #seleccion-reporte select:focus {
    background-color: lab(63.92% 27.69 -55.87 / 0.349);
    border: solid 1px blue;
    transition: all .2ms;
}


#reportes-container #seleccion-reporte button {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid .5px #0172B6;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 1rem;
}


#reportes-container #seleccion-reporte button:hover {
    border: none;
    transform: scale(1.06);
}



#vehiculos-container {
    display: flex;
    padding: 3rem 3rem;
    font-family: "Roboto", sans-serif;
}


#vehiculos-container h1 {
    color: #003d63;
    font-size: 40px;
}


#vehiculos-container button {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: .5rem;
    margin-right: 10px;
}


#vehiculos-container button:hover {
    border: none;
    transform: scale(1.06);
}


#vehiculos-container h3 {
    font-size: 24px;
}


#vehiculos-container #psoli{
    font-size: 20px;
    margin-top: 1rem;
    background-color: white;
}


#vehiculos-container .aprobar-btn {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: 0.2rem .7rem;
    border: solid 4px #01558a;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}


#vehiculos-container .aprobar-btn:hover {
    border: solid 4px #01558a;
    transform: scale(1.06);
}


#vehiculos-container .rechazar-btn {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: 0.2rem .7rem;
    border: solid 4px #EF3962;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
}


#vehiculos-container .rechazar-btn:hover {
    border: solid 4px #EF3962;
    transform: scale(1.06);
}


#vehiculos-container hr {
    border: none;
    background-color: #c02d4f;
    margin-top: 8px;
    margin-bottom: 1rem;
    padding: 3px;
}


footer{
    background-color: #0172B6;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 30px;
    position: relative;
    z-index: 2;

}


footer p {
    color: white;
    text-shadow: none;
}


#entregadosPorEmpleadoChart {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}


#info-estadisticas {
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}


#paquetes-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}


#paquetes-contenedor h2 {
    font-size: 30px;
    color: #003D63;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.671),
    -1px 1px 0 rgba(255, 255, 255, 0.671),
    1px 1px 0 rgba(255, 255, 255, 0.671),
    1px -1px 0 rgba(255, 255, 255, 0.671);
}


#paquetes-contenedor p {
    color: black;
    text-shadow: none;
    font-size: 20px;
}

#entregadosPorEmpleadoChart {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}