@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}


nav .logo-title h1, img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


nav {
    left: 0;
    right: 0;
    top: 0;
    padding: 0 3%;
    height: 80px;
    background-color: #0172B6;
}


nav .logo-title {
    display: flex;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    float: left;
    align-items: center;
    height: 100%;
}


nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .list button {
    display: block;
    color: white;
    border: none;
    background-color: transparent;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}


nav .list button:hover {
    border-bottom: 4px solid;
    transition: all .1s ease-in-out;
    margin-bottom: 2px;
}


.main-sections {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    min-height: 60vh;
    width: 100%;
    margin: 30px auto;
    padding: 40px;
    font-size: 20px;
    border: solid 2px #2d317a;
    border-radius: 16px;
    max-width: 600px;
    margin-bottom: 2rem;
}


.section-rep {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 5px;
}  


.section-rep h2 {
    margin-bottom: 10px;
    color: #003D63;
}


.main-sections hr {
    border: none;
    background-color: #c02d4f;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3px;
}


.section-paq {
    background-color: #9ec5dd52;
    padding: 1rem;
    border: solid 2px #2d317a;
    border-radius: 16px;
    text-align: center;
}


.section-paq h2 {
    margin-bottom: 5px;
    color: #003D63;
}


.section-paq p {
    font-weight: bold;
}


.section-paq #cantidad-paquetes {
    font-weight: normal;
}


#update-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


#form-actualizar-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;   
    padding: 20px;  
    gap: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
}


#form-actualizar-datos h3 {
    color: #003d63;
    font-size: 30px;
    text-align: center; 
}


#form-actualizar-datos hr {
    border: none;
    background-color: #c02d4f;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3px;
    width: 100%;
    margin-bottom: 25px;
}


#form-actualizar-datos select,
#form-actualizar-datos input {
    width: 100%;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: 1px solid #d1d5db;
    outline: none;
    transition: border 0.2s;
}


#form-actualizar-datos select:focus,
#form-actualizar-datos input:focus {
    background-color: lab(63.92% 27.69 -55.87 / 0.349);
    border: solid 1px blue;
    transition: all .2ms;
}


#form-actualizar-datos button[type='submit'] {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid .5px #0172B6;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 1rem;
}


#form-actualizar-datos button[type='button'] {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid 4px #EF3962;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 0px;
}


#form-actualizar-datos button[type='submit']:hover {
    transform: scale(1.06);
}


#form-actualizar-datos button[type='button']:hover {
    transform: scale(1.06);
}


#contenedor-form-cambio-vehiculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


#form-cambio-vehiculo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;   
    padding: 20px;  
    gap: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
}


#form-cambio-vehiculo h3 {
    color: #003d63;
    font-size: 30px;
    text-align: center; 
}



#form-cambio-vehiculo hr {
    border: none;
    background-color: #c02d4f;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3px;
    width: 100%;
    margin-bottom: 25px;
}



#form-cambio-vehiculo select {
    width: 100%;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: 1px solid #d1d5db;
    outline: none;
    transition: border 0.2s;
}


#form-cambio-vehiculo #enviar-solicitud-cambio {
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid .5px #0172B6;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 1rem;
}


#form-cambio-vehiculo #enviar-solicitud-cambio:hover {
    transform: scale(1.06);
}


#form-cambio-vehiculo #cancelar-solicitud-cambio {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid 4px #EF3962;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 0px;
}


#form-cambio-vehiculo #cancelar-solicitud-cambio:hover {
    transform: scale(1.06);
}


#contenedor-paquetes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#seleccion-paquetes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    max-height: 500px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 10px;
    margin-top: 30px;
    gap: 10px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}


#seleccion-paquetes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;   
    padding: 40px;  
    gap: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
    text-align: justify;
    font-size: 20px;
}


#seleccion-paquetes div:hover {
    background-color: #0171b610;
    border: solid #0172B6 1px;
    transition: all .3s;
}


#seleccion-paquetes #boton-confirmar{
    background-color: #01558a;
    color: white;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid .5px #0172B6;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 1rem;
}


#seleccion-paquetes #boton-confirmar:hover {
    transform: scale(1.06);
}


#seleccion-paquetes #boton-cancelar {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    padding: 0.7rem 1rem;
    border: solid 4px #EF3962;
    border-radius: 7px;
    outline: none;
    transition: 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    margin-top: 2px;
}


#seleccion-paquetes #boton-cancelar:hover {
    transform: scale(1.06);
}



footer{
    background-color: #EF3962;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    min-height: 30px;
    position: relative;
    z-index: 2;
}
